header {
    height: 60px;
    background-color: rgb(67, 93, 209);
    color: cadetblue;
    font-size: large;
    display: flex;
    padding-right: 40px;
    align-items: center;
    justify-content: right;
}

a:link {
    color: beige;
    text-decoration: none;

  }
  
  a:visited {
    color: beige;
    text-decoration: none;

  }
  
  a:hover {
    color: hotpink;
    text-decoration: none;

  }
  
  a:active {
    color:beige;
    text-decoration: none;

  }