name: Docker Image CI

on:
  push:
    branches: [ "development" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
     # - name: Set up QEMU
     #   uses: docker/setup-qemu-action@v2
        
    #  - name: Set up Docker Buildx
      #  uses: docker/setup-buildx-action@v2
        
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          
      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          push: true
          tags: jozseftorocsik/szakdolgozat-api:latest
      
      - uses: actions/checkout@master
      
      - name: Merge development -> main
        uses: devmasx/merge-branch@master
        with:
          type: now
          from_branch: development
          target_branch: main
          github_token: ${{ secrets.GIT_TOKEN }}
